/* outline css */

*,*::before,*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html { scroll-behavior: smooth;}

/* 
// SECTIONING ROOT
*/
body {
   font-size:var(--font-size);
   font-family: var(--font-family);
   margin:0;
   padding:1rem;
}

/* 
// CONTENT SECTIONING
*/
address,article,aside,header{
   margin:0;
}

/* 
// LISTS we utilize <ul> as main list organizer in <section> components 
*/
ul {
   width:100%;
   margin:0;
   padding:0;
   list-style:none;
}

/* 
// PARAGRAPH
*/
p {
   width:min(100%,var(--paragraph_width));
   max-width:var(--paragraph-width);
   margin:auto;
   background:pink;
   padding:.5rem;
   line-height:1.5rem;
}
pre {
   padding:0;
   text-align:left;
}

/* 
//   INLINE TEXT SEMANTICS
*/
a {
   text-decoration:none;
}
a:hover {
   text-decoration:none;
}
a:visited {
   text-decoration:none;
}
b,br,cite,code {
   margin:0;
   padding:0;   
}

/* 
//   IMG & MULTIMEDIA
*/
/* img and multimedia */
img {
   width:100%;
}

/* 
//   FORM   - complete/prove on fe/move to outline-layouts?
//   
*/
form {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;

   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;

   width:var(--form-width);
   margin-left:auto;
   margin-right:auto;
}
form label {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack:justify;
   -ms-flex-pack:justify;
   justify-content:space-between;
   -webkit-box-align:center;
   -ms-flex-align:center;
   gap:1rem;
}
form label * {
   width:75%;
   padding:.5rem; 
   font-size:1.2rem;
}
form label textarea {
   height:8rem;
}
input {
   margin-top:1rem;
   margin-bottom:1rem;
}

/* 
//   BUTTON
//   
*/
button {
   width:fit-content;
   padding:.5rem 1rem .5rem 1rem;
   background:transparent;
   color:hsl(0, 0%, 80%);
   border:solid 1px hsl(0, 0%, 75%);
   border-radius:5rem;
   cursor:pointer;
   font-size:1.1rem;
}
button:hover {
   color:hsl(0, 0%, 100%);
   border:solid 1px white;
}

/* colors */
.lightgray {color:hsl(0, 0%, 63%);}

/* font-weights */
.font-100 {font-weight:100;}

/* utilities */
.indent {margin-left:3rem;}