/* 
    outline css - components
*/


/* text content component margins */
blockquote, div, figcaption, figure, hr, li, menu, ol, 
p, pre, ul {
    margin:0;
    padding:0;
}

/* media and embedded component margins */
audio, img, video, embed, iframe, object {
    margin:0;
} 

/* table content component margins */
table {
    margin:0;
}

/* form content component margins */
form, button, input, label, option, select, textarea {
    margin:0;
}





/* ---------------------------------------------- 
    TEXT CONTENT
 ---------------------------------------------- */



/* extended quotation */
blockquote {
    visibility:visible;
}



/* generic container for flow content */
div {
    padding:0;
}



/* caption for figure element */
figcaption {
    visibility:visible;
}



/* self-contained figure unit */
figure {
    visibility:visible;
}


/* horizontal line */
hr {
    visibility:visible;
}



/* list item within <ol> or <ul> */
li {
    visibility:visible;
}



/* same as ul */
menu {
    visibility:visible;
}



/* ordered (numbered) list */
ol {
    visibility:visible;
}



/* paragraph block of text */
p {
    width:min(100%,var(--paragraph_width));
    margin-block:1rem;
    margin-inline:auto;
    padding:var(--standard_component_padding);
    
    line-height:2rem;
}



/* preformatted text - presented as-is in html file*/
pre {
    visibility:visible;
}



/* unordered list */
ul {
    margin:0;
    padding:0;
    list-style:none;
}

   



/* ---------------------------------------------- 
    INLINE TEXT SEMANTICS
 ---------------------------------------------- */



/* anchor/hyperlink */
a {
    display:flex;
    align-items:center;
    color:var(--primary_1);
    text-decoration:none;
    cursor:pointer;
    height:100%;
    border-bottom:solid 2px transparent;
}
a:hover {
    border-bottom:solid 2px var(--accent_1); 
}



/* abbreviation */
abbr {
    visibility:visible;  
}



/* boldface x - use <strong> */
b {
    visibility:visible;  
}



/* force a line break */
br {
    visibility:visible;  
}



/* reference to.. */
cite {
    visibility:visible;  
}



/* fragment of computer code */
code {
    visibility:visible;  
}



/* stress emphasis */
em {
    visibility:visible;  
}



/* italic */
i {
    visibility:visible;  
}



/* highlighted text */
mark {
    visibility:visible;  
}



/* strikethrough */
s {
    visibility:visible;  
}



/* small print */
small {
    visibility:visible;  
}



/* generic inline container for styling */
span {
    visibility:visible;  
}



/* bold type */
strong {
    visibility:visible;  
}



/* subscript */
sub {
    visibility:visible;  
}



/* superscript */
sup {
    visibility:visible;  
}



/* underline */
u {
    visibility:visible;  
}









/* ---------------------------------------------- 
    IMAGE AND MULTIMEDIA
 ---------------------------------------------- */



/* embed sound content */
audio {
    visibility:visible;  
}



/* embed image */
img {
    max-width:100%;
}



/* embed media player for video */
video {
    visibility:visible;  
}






/* ---------------------------------------------- 
    EMBEDDED CONTENT
 ---------------------------------------------- */


/* embed external content */
embed {
    visibility:visible;  
}



/* embed another HTML page */
iframe {
    visibility:visible;  
}



/* embed external resource */
object {
    visibility:visible;  
}









/* ---------------------------------------------- 
    TABLE CONTENT
 ---------------------------------------------- */



/* title of a table */
caption {
    visibility:visible;  
}



/* tabular data */
table {
    visibility:visible;  
}



/* table cell */
td {
    visibility:visible;  
}



/* row of cells */
tr {
    visibility:visible;  
}






/* ----------------------------------------------
    FORMS
 ---------------------------------------------- */



/* button - interactive clickable element */

/* 
    button
*/
button {
   color:hsl(0, 0%, 50%);
   background-color:transparent;
   border:solid 1px hsl(0, 0%, 60%);
   border-radius:var(--border-radius);
   padding:2rem;
   cursor:pointer;

   width:fit-content;
   padding:.8rem 1rem;
   background:transparent;
   color:hsl(0, 0%, 98%);
   border:solid 2px hsl(0, 0%, 90%);
   border-radius:.5rem;
   cursor:pointer;
   font-size:1.1rem;    border:solid 3px ora
}




button:hover {
   color:hsl(0, 0%, 100%);
   border:solid 2px white;
}

/* button types: */

/* 
    arrow_on_hover button 
*/
button.arrow_on_hover:hover {
    padding-inline:var(--arrow_on_hover_inline_padding);  /* shift text left on hover */
    background-color:var(--button_background_on_hover);
    transition: all .5s ease;
}
button.arrow_on_hover:after { 
    content: '>';
    font-weight:bold;
    position:absolute;
    opacity:0;
    top:27.5%;
    right:0;
    margin-right:1rem;
    transition:all .5s ease-in-out;
}
button.arrow_on_hover:hover::after {
    content: '>';
    margin-right:.65rem;
    opacity:1;
    transition: all .5s ease-in-out;
}
button.arrow_on_hover.no_fill_button:after { 
    color:transparent;
}
button.arrow_on_hover.no_fill_button:hover::after {
    color:white;
}


/* button_group */
.button_group {
    margin:var(--standard_component_margin);
    padding:0;
}
.button_group button {
    margin:calc(var(--standard_component_margin) );
}
button_group button.no_fill {
    background-color:transparen;
}


/* section containing interactive controls for submit */
form {
    display:grid;
    grid-template-columns:1fr;
    gap:.5rem;

    width:min(100%,38rem);
    margin:auto;
    margin-block:2rem;
    padding:1rem;

    background:var(--bg_neutral_1);
    border:solid 1px var(--med-border);
    border-radius:var(--component_border_radius);
}

/* headings */
/* h1, h2, h3, h4, h5, h6 {
    margin:var(--standard_component_margin);
    padding:var(--standard_component_padding); 
} */

/* interactive control to accept data from user */
input {
    font-style:italic;
    margin:var(--standard_component_margin);
    padding:var(--standard_component_padding);
}


/* caption for UI item */
label {
    margin:var(--standard_component_margin);
    margin-top:1rem;
}



/* item contained within a <select> */
option {
    visibility:visible;  
}



/* control provides a menu of options */
select {
    visibility:visible;  
}



/* multi-line text editing control */
textarea {
    margin:var(--standard_component_margin);
    padding:var(--standard_component_padding);
    width:100%;
    resize:vertical;
}

/* right align buttons */
form > button, form > .button_group {
    justify-self:right;
}





/* ----------------------------------------------
    CUSTOM COMPONENTS
 ---------------------------------------------- */

/* logo in header & footer */
.logo {
    display:flex;
    width:var(--logo_width);
    margin-inline:1rem;
    color:var(--logo_font_color);
}
.logo a {
    color:var(--logo_font_color);
    text-decoration:none;
}

