/* outline css 
"I have made this letter longer than usual, only because I have not had time to make it shorter"
Blaise Pascal, 17th Century French philosopher and mathematician.
*/

*,*::before,*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {scroll-behavior: smooth;}

/* 
// SECTIONING ROOT
*/
body {
   font-size:var(--font-size);
   font-family: var(--font_family);
   margin:0;
   padding:1rem;
}

/* 
// CONTENT SECTIONING
*/
address,article,aside,header{margin:0;}

/* 
// LISTS we utilize <ul> as main list organizer in <section> components 
*/
ul {
   width:100%;
   margin:0;
   padding:0;
   list-style:none;
}

/* 
// PARAGRAPH
*/
p {
   width:min(100%,var(--paragraph_width));
   max-width:var(--paragraph-width);
   margin:auto;
   padding:.5rem;
   line-height:1.5rem;
}
pre {
   padding:0;
   text-align:left;
}

/* 
//   INLINE TEXT SEMANTICS
*/
a {
   text-decoration:none;
}
a:hover {
   text-decoration:none;
}
a:visited {
   text-decoration:none;
}
b,br,cite,code {
   margin:0;
   padding:0;   
}

/* 
//   IMG & MULTIMEDIA
*/
/* img and multimedia */
img {
   width:100%;
}

/* 
//   FORM   - complete/prove on fe/move to outline-layouts?
//   
*/
form {
   width:var(--paragraph_width);
   margin:1rem auto 3rem auto;
   padding:1rem;
   border:solid 1px lightgrey;
   border-radius:.25rem;
}
/* row */
form > div {
   display:grid;
   grid-template-columns:1fr 4fr;
   gap:.5rem;
   margin:1rem 1.5rem 1rem 1rem;
}
form label {
   padding:.5rem;
}
form input {
   font-family:var(--form_font_family);
   font-size:1.3rem;
   height:fit-content;
   padding:.5rem;
}
form textarea {
   font-family:var(--form_font_family);
   font-size:1.3rem;
   min-height:8rem;
   height:8rem;
   max-height:16rem;
   padding:.5rem;
   resize: vertical;
}



/* 
//   BUTTON
//   
*/
button {
   width:fit-content;
   margin:2rem auto 2rem auto;
   padding:.5rem 1rem .5rem 1rem;
   background:transparent;
   color:hsl(0, 0%, 80%);
   border:solid 1px hsl(0, 0%, 75%);
   border-radius:5rem;
   cursor:pointer;
   font-size:1.1rem;
}
/* default is button on white bg */
button:hover {
   color:hsl(0, 0%, 10%);
   border:solid 1px hsl(0, 0%, 10%);
}
/* for blocks typically having darker bgs */
section.cover_block button:hover,
section.animated_tiles button:hover {
   color:hsl(0, 0%, 100%);
   border:solid 1px white;
}
